
/* start with queriry string */
a[href^="http"]{
    color: brown;
}

/* ends with queriey string */

a[href$="in"]{
    color: red;
}

/* present anywhare */

a[href*="coding"]{
    color: palegreen;
}